html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.identification, .favorite-food, .counter, .function, .paragraph, .my-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}